<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="description" content="Rakuten Mindfulness Network is an employee-driven initiative at Rakuten, Inc., 
to promote wellbeing among Rakutenians through Mindfulness-based activities. We provide monthly workshops, 
weekly meditation sessions, as well as occasional guest lectures." />
{{ with .Site.Params.description }}<meta name="description" content="{{ . }}" />{{ end }}
{{ with .Site.Params.name }}<meta name="author" content="{{ . }}" />{{ end }}

<title>{{ .Site.Title }}</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/font-awesome.min.css">

<!-- Custom styles for this template -->
<link rel="stylesheet" href="assets/css/main.css">

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oswald:400,300,700|EB+Garamond">

{{ partial "analytics.html" . }}
