<!DOCTYPE HTML>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
  </head>

  <body>
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2 w">
              <h1 class="big">Rakuten Mindfulness Network</h1>
            </div>
            <!-- Logo -->
            {{ if .Site.Params.logo.enable }}
              {{ partial "logo.html" . }}
            {{ end }}
            <div class="col-lg-8 col-lg-offset-2 w">
              <h2><a href="https://confluence.rakuten-it.com/confluence/display/RMN/">Confluence</a></h2>
              <h2><a href="https://www.facebook.com/rakutenmindfulness/">Facebook</a></h2>
            </div>
          </div>

    {{ partial "scripts.html" . }}
  </body>
</html>
